@import "partials/colors";
@import "partials/cross_browser";

body.about section.second div.options iframe {

	width: 116px;
	height: 70px;

	display: inline-block;
	vertical-align: bottom;
}

div.options {
	height: 70px;
	line-height: 70px;
	position: relative;
	max-height: 70px;
}

form.paypal {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	vertical-align: top;

	button {
		border: none;
		font-size: 15px;
		background-color: $blueLink;
		text-shadow: 0 1px 0 $blueLinkHover;

		&:hover {
			cursor: pointer;
			background-color: $blueLinkHover;
		}
	}
}

a.action.coinbase-button {
	position: relative;
	margin-right: 20px;
	margin-top: 22px;
	vertical-align: top;
}
