body.about section.second p + iframe {
	// Gratipay adds inline styles, so we have to override with !important
	margin-right: 25px !important;
	position: relative;
	bottom: -15px;
}

iframe.FlattrButton {
	display: inline-block;
	position: relative;
	bottom: -10px;
	margin-right: 20px;
}

form.paypal {
	display: inline-block;
	position: relative;
	top: -10px;
	margin-right: 20px;
}

iframe[src^='https://coinbase.com'] {
	height: 30px !important;
	position: relative;
	top: -8px;
}

a.coinbase-button,
a.FlattrButton {
	display: inline-block;
	top: -17px;
	position: relative;
	font-weight: bold;
	margin-right: 20px;
}

a.coinbase-button {
	margin-top: 20px;
}
