@import "partials/fonts";
@import "partials/colors";
@import "partials/cross_browser";

html {
	background-color: $greyBlue;
	margin: 0px;
	overflow-y: scroll;
	padding: 0px;
}

body {
	background-color: $white;
	color: $greyDark;
	font-family: $font-base;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	min-width: 380px;
	padding: 0;

	@media screen and (max-device-width: 760px) {
		width: auto;
	}

}

a {
	color: $blueLink;
	text-decoration: none;

	&:hover {
		color: $blueLinkHover;
		text-decoration: none;
	}

	img {
		border: none;
	}
}

th {
	text-align: left;
	vertical-align: top;
}
td {
	text-align: left;
	vertical-align: top;
}

header {
	a {
		border: none;
	}
}

img {
	-ms-interpolation-mode: bicubic;
}

nav {
	font-size: 16px;
}

footer {
	clear: both;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}

p {
	margin-bottom: 20px;
	margin-top: 0px;
}

li p {
	margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5 {
	color: $greyDark;
	font-family: $font-headline;
	font-style: normal;
	font-weight: 300;
	line-height: 1.2;

	strong, b {
		font-weight: 600;
	}
}

h2[id],
h3[id],
h4[id],
h5[id] {
	cursor: pointer;
}

h1 {
	font-size: 3.0em;
	margin-bottom: 0.5em;
	margin-left: -3px;
	margin-top: 0;
}

h2 {
	font-size: 2.0em;
	margin: 0.8em 0 0.6em;

	a {
		color: $greyDark;

		&:hover {
			color: $black;
		}
	}
}

h3 {
	font-size: 1.6em;
	margin: 0.8em 0 0.6em;
}

h4 {
	font-size: 1.3em;
	margin: 0.8em 0 0.6em;
}

h5 {
	font-size: 1.2em;
	margin: 0.8em 0 0.6em;
}

kbd,
tt,
code {
	@include border-radius(2px);

	background-color: $greyLightest;
	font-family: $font-monospace;
	padding: 1px 4px;
	text-shadow: 0 1px 0 $white;

	em {
		font-style: normal;
		opacity: 0.5;
	}
}

span.menu {
	@include border-radius(2px);

	background-color: $greyLightest;
	padding: 1px 4px;
	text-shadow: 0 1px 0 $white;

	em {
		font-style: normal;
		opacity: 0.5;
	}
}

p.code {
	@include border-radius(2px);

	background-color: $greyLightest;
	padding: 8px 10px;
	text-shadow: 0 1px 0 $white;
}

dl {
	margin-bottom: 1em;
}

dt {
	font-weight: bold;
	margin-top: 15px;
}

dd {
	margin-left: 0;
	margin-top: 5px;

	p {
		margin-bottom: 8px;
	}
}

ul {
	margin: 0 0 20px 0;
	padding: 0px;

	ul {
		margin-bottom: 5px;
	}
}

ol {
	margin: 0 0 20px 5px;
	padding: 0;
}

li {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

input {
	font-family: $font-input;
	font-size: 1.0em;

	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: none;
}

textarea {
	font-family: $font-input;
	font-size: 1.0em;
}

label {
	display: block;
	font-weight: bold;
}

pre {
	@include border-radius(2px);

	background-color: $greyLightest;
	overflow: auto;
	padding: 8px 10px;
	text-shadow: 0 1px 0 $white;
}

blockquote {
	border-left: 1px solid $greyMedium;
	margin-left: 2px;
	padding-left: 0.8em;
}
