@import "partials/fonts";
@import "partials/colors";
@import "partials/cross_browser";

body.index,
body.search {
	p.intro {
		color: $grey;
		font-family: $font-headline;
		font-weight: 300;
		font-size: 1.3em;
		margin: 0 0 20px;

		a.sublime_text {
			border-bottom: 1px solid $greyLight;
			color: $grey;
			font-weight: bold;

			&:hover {
				color: $greyBlue;
			}
		}

		a.action {
			float: right;
			font-family: $font-base;
			font-size: 0.75em;
			margin: 0 0 20px 20px;

			@media (max-width: 750px) {
				display: none;
			}
		}
	}

	div.section {
		@include box-sizing(border-box);

		float: left;
		margin-left: 3%;
		width: 22.75%;

		@media (max-width: 1050px) {
			width: 48.5%;

			&.popular {
				margin-left: 0;
			}
		}

		@media (max-width: 750px) {
			float: none;
			margin-left: 0;
			width: auto;
		}

		&.trending {
			margin-left: 0;
		}

		h2 {
			margin: 0 0 5px 0;
			padding-top: 0;

			a {
				display: block;
			}

			i {
				font-size: 20px;
				opacity: 0.7;
				position: relative;
				top: -1px;
				left: 5px;
			}
		}

		&.trending h2 i {
			color: $orange;
		}

		&.new h2 i {
			color: $green;
		}

		&.popular h2 i {
			color: $blueLinkHover;
		}

		&.labels h2 i {
			color: $greyMedium;
		}

		h2 + p {
			color: $grey;
			font-size: 0.85em;
			margin-bottom: 12px;
		}

		ul {
			list-style-type: none;
			margin: 0 0 20px 2px;
			padding: 0;

			li {
				margin: 0;
				padding: 0;

				.package_count {
					color: $grey;
					font-weight: bold;
					padding-left: 5px;
				}

				a {
					margin-right: 5px;
				}
			}
		}

		span.trending,
		span.top_100,
		span.top_25 {
			text-transform: uppercase;
			font-size: 0.9em;
		}

		span.versions,
		span.platforms {
			font-size: 0.85em;

			&.also-before {
				padding-right: 4px;
			}
			&.also-after {
				padding-left: 4px;
			}
		}
	}
}

body.index {
	div.highlights {
		overflow: hidden;
	}

	#torso {
		padding-bottom: 130px;
		position: relative;
		min-height: 380px;

		@media (max-width: 750px) {
			padding-bottom: 150px;
		}
	}

	#realtime {
		height: 130px;
		width: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-left: 20px;

		@media (max-width: 750px) {
			height: 150px;
		}

		div.meta {
			span.title {
				font-family: $font-headline;
				font-size: 1.3em;
				padding-right: 10px;
			}

			span.key {
				color: $greyMedium;
				font-size: 0.8em;

				@media (max-width: 750px) {
					display: block;
				}
			}

			span.channel,
			span.web,
			span.usage {
				display: inline-block;
				width: 10px;
				height: 10px;
				position: relative;
				top: 1px;
				margin-left: 10px;
			}

			span.channel {
				background-color: #677280;

				@media (max-width: 750px) {
					margin-left: 0;
				}
			}
			span.web {
				background-color: #768494;
			}
			span.usage {
				background-color: #8D9EB3;
			}
		}

		svg {
			position: absolute;
			left: 20px;
			bottom: 0;
		}

		// crispEdges is used otherwise the grid lines and edges between
		// adjacent rectangles look really fuzzy
		.grid {
			.major.tick {
				line {
					shape-rendering: crispEdges;
					stroke: $greyLight;
				}
				text {
					fill: $greyMedium;
					font-size: 0.85em;
					text-align: right;
				}
			}
			line.minor {
				shape-rendering: crispEdges;
				stroke: $greyLight;
			}
			path {
				stroke-width: 0;
			}
		}

		rect {
			shape-rendering: crispEdges;
		}

		.layer.channel {
			fill: #677280;
		}
		.layer.web {
			fill: #768494;
		}
		.layer.usage {
			fill: #8D9EB3;
		}

		.no_data,
		.paused {
			height: 100px;
			position: absolute;
			top: 0;
			left: 20px;
			display: none;
			background-color: rgba(255, 255, 255, 0.7);
			font-size: 1.5em;
			text-align: center;
			padding-top: 50px;
			z-index: +2;
		}
	}

	footer {
		margin-top: 0;
	}
}

body.search {
	p.intro {
		height: 0;
		margin: 0;
		overflow: hidden;
	}
}
