@import "partials/colors";
@import "partials/cross_browser";

body.installation,
body.syncing {
	p.security_notice {
		@include border-radius(2px);

		background-color: $orange;
		color: $white;
		padding: 8px 10px;
		text-shadow: 0 1px 0 $orangeDark;

		strong {
			text-transform: uppercase;
		}

		a {
			color: $white;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	div.python,
	div.terminal {
		position: relative;

		a.tab {
			background-color: $greyLightest;
			color: $greyDark;
			font-weight: bold;
			padding: 5px 11px 3px;
			text-transform: uppercase;
			margin-right: 10px;

			-moz-border-top-left-radius:     3px;
			-webkit-border-top-left-radius:  3px;
			border-top-left-radius:          3px;
			-moz-border-top-right-radius:    3px;
			-webkit-border-top-right-radius: 3px;
			border-top-right-radius:         3px;

			&.inactive {
				background-color: #ddd;
				color: #777;
			}
		}

		p.code,
		pre {
			-moz-border-top-left-radius:    0;
			-webkit-border-top-left-radius: 0;
			border-top-left-radius:         0;
			margin-top: 0;

			&::selection,
			::selection {
				background-color: $blueLink;
				color: $white;
				text-shadow: 0 1px 0 $greyBlue;
			}
			&::-moz-selection,
			::-moz-selection {
				background-color: $blueLink;
				color: black;
			}
		}
	}

	a.action {
		position: absolute;
		right: 20px;
		top: 20px;

		@media (max-width: 600px) {
			display: none;
		}
	}

}
