@import "partials/colors";
@import "partials/cross_browser";

body.installation,
body.syncing {
	p.warning {
		@include border-radius(2px);

		background-color: $orange;
		color: $white;
		padding: 8px 10px;
		text-shadow: 0 1px 0 $orangeDark;

		strong {
			text-transform: uppercase;
		}

		a {
			color: $white;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	span.hint {
		font-size: 0.8em;
		font-style: italic;
		opacity: 0.75;
		position: relative;
		top: -3px;
	}

	a.action {
		position: absolute;
		right: 0;
		top: 0;

		@media (max-width: 750px) {
			display: none;
		}
	}

}
