@import "partials/fonts";
@import "partials/colors";
@import "partials/cross_browser";

header section,
div#torso,
footer section {
	margin: 0px auto 0px auto;
	max-width: 1180px;
	padding: 20px 220px 0 20px;

	@media (max-width: 600px) {
		padding: 20px 20px 0 20px;
	}
}

header {
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #F5F5F5 0%, $white 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #F5F5F5 0%, $white 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #F5F5F5 0%, $white 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, $white));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #F5F5F5 0%, $white 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #F5F5F5 0%, $white 100%);

	section {
		position: relative;
	}

	a#logo {
		overflow: hidden;

		img {
			@include transition(opacity 0.15s ease-in-out);

			border: none;
			display: block;
			float: left;
			max-height: 51px;
			max-width: 286px;
			margin-right: 30px;

			@media (max-width: 1050px) {
				margin-bottom: 15px;
			}
		}
	}

	form {
		@media (max-width: 1050px) {
			clear: left;
			width: 100%;
		}

		input#search {
			@include box-sizing(border-box);
			@include border-radius(4px);

			background-color: #f9f9f9;
			border: 1px solid $greyMedium;
			color: $greyDark;
			display: block;
			font-family: $font-headline;
			font-size: 1.9em;
			font-style: normal;
			font-weight: 300;
			outline: none;
			padding: 2px 8px;
			margin: 0;
			width: 48%;
			float: right;

			// We don't use the transition mixin here because the properties are not consistent
			transition:         box-shadow 0.25s ease-in-out,         border-color 0.25s ease-in-out;
			-webkit-transition: -webkit-box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
			-moz-transition:    -moz-box-shadow 0.25s ease-in-out,    border-color 0.25s ease-in-out;

			&:focus {
				@include box-shadow(0 0 5px 0 $green);
				border-color: $green;
			}

			@media (max-width: 1050px) {
				width: 100%;
				float: none;
			}
		}

		span.help {
			visibility: hidden;

			font-size: 0.85em;
			opacity: 0.5;
			width: 48%;
			float: right;
			margin: 0 0 -10px 5px;
			display: block;

			@media (max-width: 1050px) {
				float: none;
				width: 100%;
			}

			span.terms {
				padding-left: 30px;
				visibility: hidden;
			}
		}

		input#search:hover + span.help,
		input#search:focus + span.help {
			visibility: visible;
		}
	}

	#nav_container {
		right: 20px;
		top: 20px;
		padding-top: 3px;
		position: absolute;
		z-index: +10;
		width: 180px;

		@media (max-width: 600px) {
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			float: none;
			overflow: hidden;
			clear: left;
			padding-top: 10px;
			padding-bottom: 5px;
		}

		span#spons-header {
			margin-top: 25px;
			margin-bottom: 5px;
			text-transform: uppercase;
			font-size: 0.8em;
			display: block;
			color: $grey;

			a {
				color: $grey;
				padding-left: 4px;
				font-size: 1.1em;
			}

			i {
				cursor: help;
			}
		}

		div#spons {
			@include box-sizing(border-box);

			padding: 20px;
			font-size: 0.85em;
			width: 170px;
			display: block;
			background-color: #f9f9f9;
			color: $grey;
			position: relative;

			a {
				display: block;

				&.incoming {
					position: absolute;
					top: 20px;
					left: 20px;
				}
			}

			img {
				width: 130px;
				display: block;
			}

			@media (max-width: 600px) {
				width: 100%;
				overflow: hidden;
				padding: 15px;
				margin-bottom: 20px;

				img {
					float: left;
					margin-right: 20px;
					margin-bottom: 0;
				}
			}
		}
	}

	nav {
		border-left: 1px solid $greyLight;
		position: relative;

		a {
			color: $greyDark;
			display: block;
			line-height: 1.6;
			padding: 5px 15px;
			margin: 0;
			border-left: 2px solid transparent;

			-moz-border-bottom-right-radius:     3px;
			-webkit-border-bottom-right-radius:  3px;
			border-bottom-right-radius:          3px;
			-moz-border-top-right-radius:        3px;
			-webkit-border-top-right-radius:     3px;
			border-top-right-radius:             3px;

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				color: $black;
			}

			&.active {
				background-color: #F5F7F8;
				border-left-color: $blueLink;
				color: $black;
			}
		}

		@media (max-width: 600px) {
			border-left: none;

			a {
				display: inline-block;
				padding: 3px 7px;
				border: 1px solid transparent;

				-moz-border-bottom-left-radius:     3px;
				-webkit-border-bottom-left-radius:  3px;
				border-bottom-left-radius:          3px;
				-moz-border-top-left-radius:        3px;
				-webkit-border-top-left-radius:     3px;
				border-top-left-radius:             3px;

				&.active {
					border: 1px solid $blueLink;
					background-color: $blueLink;
					color: $white;
				}
			}
		}
	}

	.loading {
		background-color: $blueLink;
		top: 0;
		height: 0;
		left: 0;
		position: absolute;
		width: 2px;

		@media (max-width: 600px) {
			height: 2px;
			width: auto;
			bottom: 0;
			top: auto;
		}
	}
}

div#torso {
	overflow: hidden;
	position: relative;

	min-height: 480px;
}

footer {
	@include box-shadow(inset 0px 6px 12px -8px #333);
	background-color: $greyBlue;
	color: $white;
	padding: 0;
	width: auto;

	section {
		opacity: 0.6;
		padding-bottom: 30px;
	}

	a#wbond {
		img {
			margin-left: 10px;
			position: relative;
			bottom: -2px;
			max-height: 25px;
			max-width: 80px;
		}
	}
}

div#content {
	position: relative;
}

a.action,
button.action {
	@include border-radius(2px);
	@include transition(background-color 0.1s ease-in-out);

	background-color: $green;
	color: $white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 12px;
	text-shadow: 0 1px 1px $greenDark;

	&:hover {
		background-color: $greenMedium;

		i {
			left: 2px;
			opacity: 1.0;
		}
	}

	i {
		@include transition(opacity 0.1s ease-in-out, left 0.1s ease-in-out);

		left: 0;
		margin-left: 3px;
		opacity: 0.6;
		position: relative;
	}
}
