{{#lte installs_rank 25}}
    <span class="top_25" title="Ranked #{{installs_rank}} for total unique installs"><i class="icon-certificate"></i></span>
{{/lte}}
{{#between installs_rank 26 100}}
    <span class="top_100" title="Ranked #{{installs_rank}} for total unique installs"><i class="icon-certificate"></i></span>
{{/between}}
