<div class="popup-overlay">
  <div class="popup-scroller">
    <a href="#" class="previous">Previous</a>
    <div class="popup-positioner">
      <div class="popup-dialog">
        <a href="#" class="close">Close</a>
        <img src="{{src}}" alt="{{alt}}" title="Next Image">
        <div class="title"><span class="num">{{num}}</span> <span class="alt">{{alt}}</span></div>
      </div>
    </div>
    <a href="#" class="next">Next</a>
  </div>
</div>
