<div id="realtime">
  <div class="meta">
    <span class="title">Realtime</span>
    <span class="key">
      <span class="channel"></span> channel json
      <span class="web"></span> web visits
      <span class="usage"></span> package operations
    </span>
  </div>
  <div class="no_data">Realtime analytics data unavailable</div>
  <div class="paused">Realtime analytics paused</div>
</div>
