$black: #000000;

$greyDark: #555;
$greyBlue: #555E69;
$grey: #999;
$greyMedium: #bbb;
$greyLight: #eee;
$greyLightest: #f3f3f3;

$red: #BA5757;
$pink: #ef9f9f;
$pinkLight: #efd4d4;

$orangeDark: #CF863E;
$orange: #EBA560;

$yellow: #FFEA6F;

$greenDark: #748C41;
$greenMedium: #90A662;
$green: #AABF7C;

$blueLinkHover: #4772A3;
$blueLink: #6F92BA;
$blue: #A8BACF;
$blueLight: #D2D8DF;

$purple: #bd9cb7;
$purpleLight: #d6cad3;

$white: #ffffff;
