{{title "Package Control - the Sublime Text package manager"}}

<p class="intro">
    <a class="action" href="{{url "installation"}}">Install Now <i class="icon-caret-right"></i></a>
    The <a href="http://sublimetext.com" class="sublime_text">Sublime Text</a>
    package manager that makes it exceedingly simple to find, install and keep
    packages up-to-date.
</p>

<form action="/search" method="get">
    <input id="search" type="text" placeholder="Search" name="terms">
</form>

{{>highlights}}
